<div class=" px-4 py-8 square-images page-width">
  <div class="cards">
    {% for block in section.blocks %}
      {% if block.settings.btnlink %}
        {% assign btnlink = section.settings.btnlink %}
      {% else %}
        {% assign btnlink = shop.secure_url %}
      {% endif %}
      <div
        class="overflow-hidden text-center rounded-lg card color-{{ block.settings.color_scheme }}"
        {{ block.shopify_attributes }}
        style="background: url('{{ block.settings.img | image_url: width: 1100 }}') no-repeat center center/cover;"
      >
        <div class="content">
          {% if block.settings.title %}
            <h3 class="section-title">{{ block.settings.title }}</h3>
          {% endif %}

          {% if block.settings.sub_title %}
            <h2 class="subTitle">{{ block.settings.sub_title }}</h2>
          {% endif %}

          {% if block.settings.description %}
            <p class="description">{{ block.settings.description }}</p>
          {% endif %}
          {% if block.settings.btntext %}
            <a href="{{ btnlink }}" class="button inline-block  px-6 py-2 rounded  transition">
              {{- block.settings.btntext -}}
            </a>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{%- style -%}
  .square-images {
      position: relative;
    }
    .square-images .content {
        margin-top: 15%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        @media(max-width: 600px) {
            gap: 4px;
        }
    }
    .square-images .cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: clamp(0.7rem, 0.1796rem + 1.3878vw, 2.4rem);
        @media(max-width: 600px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }
    .square-images .cards .section-title {
        font-weight: 700;
        font-size: clamp(1.2rem, 1.0163rem + 0.4898vw, 1.8rem);
        line-height: 1.2;
    }
    .square-images .cards .subTitle {
        font-weight: 700;
        font-size: clamp(1.6rem, 1.2327rem + 0.9796vw, 2.7rem);
        line-height: 1.2;
    }
    .square-images .cards .description {
        font-weight: 400;
        font-size: clamp(1.2rem, 1.1388rem + 0.1633vw, 1.4rem);
        line-height: 1.2;
    }
    .square-images .cards .button {
        font-weight: 500;
        font-size: clamp(1rem, 0.8163rem + 0.4898vw, 1.6rem);
        line-height: 1.2;
        text-transform: capitalize;
        margin-top: 5px;
        width: fit-content;
        padding: 0.8rem 2rem;
        border-radius: 3px;
        @media(max-width: 480px) {
            padding: 0.5rem 0.9rem;
        }
    }
    .square-images .cards .card img {
        width: 100%;
    }
    .square-images .cards .card {
        padding: clamp(1rem, 0.6939rem + 0.8163vw, 2rem);
        min-height: clamp(27rem, 22.1020rem + 13.0612vw, 43rem);
    }
{%- endstyle -%}

{% schema %}

  {
    "name": "t:sections.square-images.name",
    "tag": "section",
    "class": "section",
    "settings": [
     
    ],
    "blocks": [
      {
        "type": "card",
        "name": "Image Card",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "t:sections.square-images.settings.title.label",
            "default": "t:sections.square-images.settings.title.default"
          },
          {
            "type": "text",
            "id": "sub_title",
            "label": "t:sections.square-images.settings.sub_title.label",
            "default": "t:sections.square-images.settings.sub_title.default"
          },
          {
            "type": "text",
            "id": "description",
            "label": "t:sections.square-images.settings.description.label",
            "default": "t:sections.square-images.settings.description.default"
          },
          {
            "type": "image_picker",
            "id": "img",
            "label": "t:sections.square-images.settings.img.label",
            "info": "t:sections.square-images.settings.img.info"
          },
          { 
            "type": "text",
            "id": "btntext",
            "label": "t:sections.square-images.settings.btn-text.label",
            "default": "t:sections.square-images.settings.btn-text.default"
          },
          {
            "type": "url",
            "id": "btnlink",
            "label": "t:sections.square-images.settings.btn_url.label",
            "info":"t:sections.square-images.settings.btn_url.info"
          }, 
          {
            "type": "color_scheme",
            "id": "color_scheme",
            "label": "t:sections.all.colors.label",
            "default": "scheme-1"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.square-images.name",
        "blocks": [
          { "type": "card" },
          { "type": "card" },
          { "type": "card" },
          { "type": "card" }
        ]
      }
    ]
  }
{% endschema %}
  
